.colorBlack{
    color:black;
}

.zoom:hover{
    /* tranformamos el elemento al pasar el mouse por encima con scale(1.2). */
    transition: 0.3s; /*Time*/
    transform : scale(2);
    -moz-transform : scale(2); /* Firefox */
    -webkit-transform : scale(1.2); /* Chrome - Safari */
    -o-transform : scale(2); /* Opera */
}

.bgBlack{
    background: black;
}

.bgOrange{
    background: orange;
}

.fontNav{
    font-size: 18px;
}

.fontNavLog{
    font-size: 25px;
}

.bgTransparent{
    background: rgba(32, 28, 6, 0.9);
}

.colorWhite{
    color:white;
}

.sizeSec{
    font-size: 50px;
}

.sizeIcon{
    font-size: 30px;
}

.colorFooterTitle{
    color:black;
}

.bgRed{
    background: red;
}

.absoluteClassLB{
    position: absolute;
    bottom: 0;
    left: 0;
}

.fontG{
    font-size: 20px;
}

.absoluteCenter{
    position: absolute;
    top: 50%;
    right: 50%;
}
/*Style Opportunities*/

.borderOpp{
    margin: auto; 
    border-radius: 50px; 
    width: 50%; 
    height: 10px; 
    border-bottom: 5px solid black;
}

/*Styles aboutUs*/

.borderAbout{
    margin: auto; 
    border-radius: 50px; 
    width: 50%; 
    height: 10px; 
    border-bottom: 10px solid orange;
}

.relativeClass{
    position: relative;
}

.absoluteClass{
    position: absolute;
    top: 0;
    left: 0;
}