<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title><%= title %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <%- include('./parts/head.html'); %>
</head>
<body>
    <%- include('./parts/nav.html');%>
    
    <!--Inicio Portada-->
    <section class="container-fluid">
        <div class="row relativeClass">
            <img src="/imagenes/aboutUs/portada.jpg"  class="img-fluid" style="height: auto; width:100%;">
            <div class="absoluteClass text-white animated lightSpeedIn delay-5s m-5">
                <h4 class="refTituloAbout">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h4>
                <h5 class="refTituloAbout">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h5>
                <a class="text-dark btn btn-warning px-4 refTituloAbout" href="#about">Leer..</a> 
            </div> 
        </div>
    </section>
    <!--Fin Portada-->

    <!--Inicio AboutUs-->
    <section class="container-fluid bg-light text-center" id="about">
        <div class="row p-5 columnAbout">
                <div class="col-lg-6">
                    <h1 class="refTituloAbout">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
                    <div class="borderAbout"></div>
                    <p class="py-4 pl-2 text-justify refParrafoAbout">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi odit in eos mollitia, velit iure dolores. Voluptate adipisci aperiam sint consectetur necessitatibus quod harum, error voluptatum, voluptatem quas iusto! Voluptatibus molestiae minima veritatis veniam, quam cum cupiditate similique quisquam architecto quis suscipit obcaecati. Necessitatibus vero exercitationem commodi dicta perferendis molestias ducimus eligendi nulla ab? Impedit molestias deleniti temporibus natus ea quod porro provident dolore! Id exercitationem illum omnis animi. Minima porro aperiam laboriosam voluptatem sed ea, expedita corrupti ipsam in, explicabo vitae aliquid laborum deleniti ratione quod officiis totam nemo sint quasi. Ut iure porro incidunt omnis explicabo quia, sequi officiis ex eaque. Illum porro voluptates at repellat tempore. Exercitationem eaque sequi officia cum architecto eligendi soluta quod at veritatis</p>
    
                    <h2 class="refTituloAbout">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
                    <div class="borderAbout"></div>
                    <p class="py-4 pl-2 text-justify refParrafoAbout">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi odit in eos mollitia, velit iure dolores. Voluptate adipisci aperiam sint consectetur necessitatibus quod harum, error voluptatum, voluptatem quas iusto! Voluptatibus molestiae minima veritatis veniam, quam cum cupiditate similique quisquam architecto quis suscipit obcaecati. Necessitatibus vero exercitationem commodi dicta perferendis molestias ducimus eligendi nulla ab? Impedit molestias deleniti temporibus natus ea quod porro provident dolore! Id exercitationem illum omnis animi. Minima porro aperiam laboriosam voluptatem sed ea, expedita corrupti ipsam in, explicabo vitae aliquid laborum deleniti ratione quod officiis totam nemo sint quasi. Ut iure porro incidunt omnis explicabo quia, sequi officiis ex eaque. Illum porro voluptates at repellat tempore. Exercitationem eaque sequi officia cum architecto eligendi soluta quod at veritatis</p>
                </div>
                <div class="col-lg-6">
                    <img src="/imagenes/aboutUs/aboutUs.png" class="img-fluid">
                </div>
        </div>
    </section>

    <!--Fin AboutUs-->

    <%- include('./parts/footer.html')%>
 
    
</body>
</html>