<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title><%= title %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <%- include('./parts/head.html'); %>
</head>
<body>
    <%- include('./parts/nav.html');%>
    
    <section class="container-fluid">
        <div class="row ">
            <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 relativeClass m-0 p-0">
                <div class="card" style="width: 100%;">
                    <img src="/imagenes/contact/contact.jpg" class="img-fluid " style="height: 40rem;"> 
                    <div class="card-body absoluteClass p-5">
                        <h1 class="pb-2">Lorem, ipsum dolor sit amet</h1>
                        <h5 class="card-text pb-5">Some quick example text to build on the card title and make up the bulk of the card's content.</h5>
                      <a class="btn btn-success float-left px-3 refSubTitulo" href="#def">Leer..</a>
                    </div>
                  </div>
            </div>
        </div>
        
    </section>

    <section class="container-fluid p-5 bg-light" id="def">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-6 col-md-6 col-sm-12 col-12">
                    <h1 class="pb-5">Lorem, ipsum dolor sit amet</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit iste qui libero doloribus dolorum blanditiis voluptatum consequatur necessitatibus consequuntur culpa possimus animi sit sed quia eum dolore, repellendus, commodi non.</p>
                </div>
                <div class="col-lg-6 col-xl-6 col-md-6 col-sm-12 col-12">
                    <h2 class="pb-3 text-center mb-5">Contacto</h2>
                    <form action="/send-email" method="POST" >
                        <div class="form-group">
                          <label>Nombre/s: </label>
                          <input type="text" class="form-control" name="nombre" placeholder="Ingrese Nombre Completo">
                        </div>
                        <div class="form-group">
                          <label>Apellido/s: </label>
                          <input type="text" class="form-control" name="apellido" placeholder="Ingrese Nombre Completo">
                        </div>
                        <div class="form-group">
                          <label>Email : </label>
                          <input type="mail" class="form-control" name="email" placeholder="ejemplo@correro.com.ar">
                        </div>
                        <div class="form-group">
                          <textarea class="form-control" name="texto" placeholder="Realizar Comentario"></textarea>
                        </div>
                        <button class="btn btn-success btn-block p-3">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <%- include('./parts/footer.html')%>
</body>
</html>