<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title><%= title %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <%- include('./parts/head.html'); %>
</head>
<body>
    <%- include('./parts/nav.html');%>
    
    <div class="container-fluid">
        <div class="row relativeClass">
            <img src="/imagenes/contact.jpg"  class="img-fluid" style="height: 600px; width:100%;"> 
            <di class="absoluteClass m-4 bg-light rounded p-4 colorBlack animated lightSpeedIn"  style="width: 40%;">
                <h1 class="mb-4">Lorem, ipsum dolor sit amet</h1>
                <p class="text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit iste qui libero doloribus dolorum blanditiis voluptatum consequatur necessitatibus consequuntur culpa possimus animi sit sed quia eum dolore, repellendus, commodi non.
                </p> 
                <a class="btn btn-success float-left px-5" href="#def">Leer..</a>
            </di>
        </div>
    </div>

    <div class="container-fluid p-5 bg-light" id="def">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h1 class="pb-5">Lorem, ipsum dolor sit amet</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit iste qui libero doloribus dolorum blanditiis voluptatum consequatur necessitatibus consequuntur culpa possimus animi sit sed quia eum dolore, repellendus, commodi non.</p>
                </div>
                <div class="col-6">
                    <h2 class="pb-3 text-center">Contacto</h2>
                    <form method="POST" action="#"></form>
                        <div class="form-group">
                          <label>Nombre/s: </label>
                          <input type="text" class="form-control" placeholder="Ingrese Nombre Completo">
                        </div>
                        <div class="form-group">
                          <label>Apellido/s: </label>
                          <input type="text" class="form-control" placeholder="Ingrese Nombre Completo">
                        </div>
                        <div class="form-group">
                          <label>Email : </label>
                          <input type="mail" class="form-control" placeholder="ejemplo@correro.com.ar">
                        </div>
                        <div class="form-group">
                          <textarea class="form-control" placeholder="Realizar Comentario"></textarea>
                        </div>
                        <button class="btn btn-success btn-block p-3">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('./parts/footer.html')%>
</body>
</html>