<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title> <%=title %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <%- include('./parts/head.html'); %>
</head>
<body class="bg-ligth">
    <%- include('./parts/nav.html');%>

    <!--Sec info-->
    <section class="container-fluid text-center my-5 bg-ligth">
        <div class="container">
            <div class="my-5">
                <h1 class="py-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit</h1>
            </div>

            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                    <img class="img-fluid" src="/imagenes/opportunities/new4.jpg" style="height:300px;">
                    <h2>Lorem ipsum dolor sit</h2>
                    <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, perspiciatis accusantium? Molestiae modi, facilis ad deleniti eligendi aperiam nesciunt culpa sunt, ab itaque quasi. Eligendi blanditiis in tenetur repellendus nemo?</p>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                    <img class="img-fluid"  src="/imagenes/opportunities/new5.jpg" style="height:300px;">
                    <h2>Lorem ipsum dolor sit</h2>
                    <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, perspiciatis accusantium? Molestiae modi, facilis ad deleniti eligendi aperiam nesciunt culpa sunt, ab itaque quasi. Eligendi blanditiis in tenetur repellendus nemo?</p>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                    <img class="img-fluid" src="/imagenes/opportunities/new6.jpg" style="height:300px;">
                    <h2>Lorem ipsum dolor sit</h2>
                    <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, perspiciatis accusantium? Molestiae modi, facilis ad deleniti eligendi aperiam nesciunt culpa sunt, ab itaque quasi. Eligendi blanditiis in tenetur repellendus nemo?</p>
                </div>
              
            

            
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                    <img class="img-fluid" src="/imagenes/opportunities/new4.jpg" style="height:300px;">
                    <h2>Lorem ipsum dolor sit</h2>
                    <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, perspiciatis accusantium? Molestiae modi, facilis ad deleniti eligendi aperiam nesciunt culpa sunt, ab itaque quasi. Eligendi blanditiis in tenetur repellendus nemo?</p>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                    <img class="img-fluid"  src="/imagenes/opportunities/new5.jpg" style="height:300px;">
                    <h2>Lorem ipsum dolor sit</h2>
                    <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, perspiciatis accusantium? Molestiae modi, facilis ad deleniti eligendi aperiam nesciunt culpa sunt, ab itaque quasi. Eligendi blanditiis in tenetur repellendus nemo?</p>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                    <img class="img-fluid" src="/imagenes/opportunities/new6.jpg" style="height:300px;">
                    <h2>Lorem ipsum dolor sit</h2>
                    <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, perspiciatis accusantium? Molestiae modi, facilis ad deleniti eligendi aperiam nesciunt culpa sunt, ab itaque quasi. Eligendi blanditiis in tenetur repellendus nemo?</p>
                </div>
            

            
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                    <img class="img-fluid" src="/imagenes/opportunities/new4.jpg" style="height:300px;">
                    <h2>Lorem ipsum dolor sit</h2>
                    <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, perspiciatis accusantium? Molestiae modi, facilis ad deleniti eligendi aperiam nesciunt culpa sunt, ab itaque quasi. Eligendi blanditiis in tenetur repellendus nemo?</p>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                    <img class="img-fluid"  src="/imagenes/opportunities/new5.jpg" style="height:300px;">
                    <h2>Lorem ipsum dolor sit</h2>
                    <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, perspiciatis accusantium? Molestiae modi, facilis ad deleniti eligendi aperiam nesciunt culpa sunt, ab itaque quasi. Eligendi blanditiis in tenetur repellendus nemo?</p>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                    <img class="img-fluid" src="/imagenes/opportunities/new6.jpg" style="height:300px;">
                    <h2>Lorem ipsum dolor sit</h2>
                    <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, perspiciatis accusantium? Molestiae modi, facilis ad deleniti eligendi aperiam nesciunt culpa sunt, ab itaque quasi. Eligendi blanditiis in tenetur repellendus nemo?</p>
                </div>
              
            </div>
        </div>
           
        </section>
        <!--Fin Sec info-->
    
    

    <%- include('./parts/footer.html'); %>
</body>
</html>