<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title> <%=title %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <%- include('./parts/head.html'); %>
</head>
<body class="bg-ligth">
    <%- include('./parts/nav.html');%>

    <!--Sec info-->
    <section class="container text-center mt-5">
        <h1 class="mb-5 p-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit</h1>
            <div class="row">
                <div class="col-4">
                    <img class="img-fluid" src="/imagenes/new1.jpg" style="height:300px;">
                    <h2>Lorem ipsum dolor sit</h2>
                    <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, perspiciatis accusantium? Molestiae modi, facilis ad deleniti eligendi aperiam nesciunt culpa sunt, ab itaque quasi. Eligendi blanditiis in tenetur repellendus nemo?</p>
                </div>
                <div class="col-4">
                    <img class="img-fluid"  src="/imagenes/new2.jpg" style="height:300px;">
                    <h2>Lorem ipsum dolor sit</h2>
                    <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, perspiciatis accusantium? Molestiae modi, facilis ad deleniti eligendi aperiam nesciunt culpa sunt, ab itaque quasi. Eligendi blanditiis in tenetur repellendus nemo?</p>
                </div>
                <div class="col-4">
                    <img class="img-fluid" src="/imagenes/new3.jpg" style="height:300px;">
                    <h2>Lorem ipsum dolor sit</h2>
                    <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, perspiciatis accusantium? Molestiae modi, facilis ad deleniti eligendi aperiam nesciunt culpa sunt, ab itaque quasi. Eligendi blanditiis in tenetur repellendus nemo?</p>
                </div>
              
            </div>

            <div class="row">
                <div class="col-4">
                    <img class="img-fluid" src="/imagenes/new1.jpg" style="height:300px;">
                    <h2>Lorem ipsum dolor sit</h2>
                    <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, perspiciatis accusantium? Molestiae modi, facilis ad deleniti eligendi aperiam nesciunt culpa sunt, ab itaque quasi. Eligendi blanditiis in tenetur repellendus nemo?</p>
                </div>
                <div class="col-4">
                    <img class="img-fluid"  src="/imagenes/new2.jpg" style="height:300px;">
                    <h2>Lorem ipsum dolor sit</h2>
                    <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, perspiciatis accusantium? Molestiae modi, facilis ad deleniti eligendi aperiam nesciunt culpa sunt, ab itaque quasi. Eligendi blanditiis in tenetur repellendus nemo?</p>
                </div>
                <div class="col-4">
                    <img class="img-fluid" src="/imagenes/new3.jpg" style="height:300px;">
                    <h2>Lorem ipsum dolor sit</h2>
                    <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, perspiciatis accusantium? Molestiae modi, facilis ad deleniti eligendi aperiam nesciunt culpa sunt, ab itaque quasi. Eligendi blanditiis in tenetur repellendus nemo?</p>
                </div>
              
            </div>

            <div class="row">
                <div class="col-4">
                    <img class="img-fluid" src="/imagenes/new1.jpg" style="height:300px;">
                    <h2>Lorem ipsum dolor sit</h2>
                    <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, perspiciatis accusantium? Molestiae modi, facilis ad deleniti eligendi aperiam nesciunt culpa sunt, ab itaque quasi. Eligendi blanditiis in tenetur repellendus nemo?</p>
                </div>
                <div class="col-4">
                    <img class="img-fluid"  src="/imagenes/new2.jpg" style="height:300px;">
                    <h2>Lorem ipsum dolor sit</h2>
                    <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, perspiciatis accusantium? Molestiae modi, facilis ad deleniti eligendi aperiam nesciunt culpa sunt, ab itaque quasi. Eligendi blanditiis in tenetur repellendus nemo?</p>
                </div>
                <div class="col-4">
                    <img class="img-fluid" src="/imagenes/new3.jpg" style="height:300px;">
                    <h2>Lorem ipsum dolor sit</h2>
                    <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, perspiciatis accusantium? Molestiae modi, facilis ad deleniti eligendi aperiam nesciunt culpa sunt, ab itaque quasi. Eligendi blanditiis in tenetur repellendus nemo?</p>
                </div>
              
            </div>
           
        </section>
        <!--Fin Sec info-->
    
    

    <%- include('./parts/footer.html'); %>
</body>
</html>