<footer class="page-footer font-small mdb-color pt-4 bgBlack text-secondary">

   
    <div class="container text-center text-md-left">
  
      
      <div class="row text-center text-md-left mt-3 pb-3">
  
        
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold text-white">NPM</h6>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores odio in, ea atque nesciunt nobis, voluptatum delectus ipsam explicabo suscipit ipsa? Eveniet officiis optio nostrum totam voluptas, provident sapiente ab?</p>
        </div>
        
  
        <hr class="w-100 clearfix d-md-none">
  
        
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold text-white">Products</h6>
          <p>
            <a href="#!">Prod1</a>
          </p>
          <p>
            <a href="#!">Prod2</a>
          </p>
          <p>
            <a href="#!">Prod3</a>
          </p>
          <p>
            <a href="#!">Prod4</a>
          </p>
        </div>
        
  
        <hr class="w-100 clearfix d-md-none">
  
        
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold text-white">Useful links</h6>
          <p>
            <a href="#!">Link1</a>
          </p>
          <p>
            <a href="#!">Link2e</a>
          </p>
          <p>
            <a href="#!">Link3</a>
          </p>
          <p>
            <a href="#!">Link4</a>
          </p>
        </div>
  
        
        <hr class="w-100 clearfix d-md-none">
  
        
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold text-white">Contact</h6>
          <p>
            <i class="fas fa-home mr-3"></i> Buenos Aires, CalleFalsa 123, Arg</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> npm@gmail.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i> 1234-5678</p>
          <p>
            <i class="fas fa-print mr-3"></i> 1534786543</p>
        </div>
        
  
      </div>
   
  
      <hr>
  
    
      <div class="row d-flex align-items-center">
  
        
        <div class="col-md-7 col-lg-8">
  
          
          <p class="text-center text-md-left">© 2020 Copyright:
            <a href="https://mdbootstrap.com/">
              <strong> npm.com</strong>
            </a>
          </p>
  
        </div>
       
  
        
        <div class="col-md-5 col-lg-4 ml-lg-0">
  
          
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-google-plus-g"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
  
        </div>
        
  
      </div>
      
  
    </div>
    
  
  </footer>

  <!--Script Bootstrap-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <!--Fin Script Bootstrap-->
  