<header class="navbar  navbar-expand-lg navbar-dark bgOrange ">
    <nav class="container p-3">
        <a class="navbar-brand fontNavLog" href="#">NPM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"     aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto fontNav">
            <li class="nav-item mr-3">
              <a class="nav-link zoom" href="/"> <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="nav-item mr-3">
              <a class="nav-link zoom" href="/aboutUs"> <i class="fas fa-hotel"></i> About us</a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link zoom" href="/opportunities"> <i class="fas fa-balance-scale-right"></i> Opportunities</a>
              </li>
            <li class="nav-item mr-3">
              <a class="nav-link zoom" href="/contact"> <i class="fas fa-address-book"></i> contact</a>
            </li>
            </ul>
        </div>
    </nav>
</header>